<ion-content fullscreen padding scroll-y="false">
  <ion-slides>
    <ion-slide>
      <img src=""/>
      <h2>İndirimix <b>Nedir ?</b></h2>
      <p>İndirimix ile mağazalarda veya giyim sitelerinde gördüğünüz indirimli trend ürünleri paylaşabilirsiniz.
        Bu sayede artık mağazalarda saatlerce vakit 
        geçirmek yerine aradığınız ürünleri <b>uygun fiyatlara</b> burada bulabilirsiniz.</p> 
        <p><ion-icon name="arrow-forward"></ion-icon></p>
    </ion-slide>
    <ion-slide>
      <img src=""/>
      <h2>İndirimix ile <b>Modaya Yön Ver</b></h2>
      <p>Tarzınızı yakalayacağınız<b> bu uygulama ile </b> modaya renk katacaksanız.</p>
      <p><ion-icon name="arrow-forward"></ion-icon></p>
    </ion-slide>
    <ion-slide>
      <img src=""/>
      <h2>İndirimx ile <b>Tarz</b></h2>
      <p>Bu uygulama ile diğer kullanıcılarla paylaştığınız <b> trend ve indirimli</b> ürünler ile artık alışveriş daha kolay.</p>
      <p><ion-icon name="arrow-forward"></ion-icon></p>
    </ion-slide>

    <ion-slide>
      <img src=""/>
      <h2>Başlayalım mı ?</h2>
      <ion-button (click)="goHome()" fill="clear">Başla <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>