<ion-app>
  <ion-header #header>
    <ion-toolbar>
      <ion-title>
        <ion-grid>
          <ion-row>
            <ion-col>          
            <div style="text-align: left;font-family: cursive;font-size: 23px;">
              <ion-icon (click)="goHome();" name="arrow-round-back" style="margin-right: 15px;font-size: 25px;position: relative;top: 5px;"></ion-icon>
              <label style="text-align: center;font-size: 21px;">Ürün Detayı</label>
            </div>             
            </ion-col>
            <ion-col style="text-align: right;">
              <div style="position: relative;top: 7px;font-size: 24px;">
                <ion-icon name="information-circle" (click)="goToTutorail();"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
        
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen hide-header>
    <ion-card> 
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>          
            <div ><img  style="width: 50px;border-radius: 30px;"src="https://www.pngkey.com/png/detail/47-474070_child-avatar-icon-flat-design-red-yellow-coffee.png"></div>             
            </ion-col>
            <ion-col style="text-align: right;">
              <div> <ion-card-subtitle>{{product?.name}}</ion-card-subtitle>
                <ion-card-title>{{product?.price}} TL</ion-card-title></div>
            </ion-col>
          </ion-row>
        </ion-grid>      
      </ion-card-header>
      <img src="{{product?.image.image}}" alt=""  />  
      <ion-card-content >
        <ion-grid>
          <ion-row>
            <ion-col>
              <div> 
                <label *ngIf="!productLike" style="top: -7px;position: relative;margin-right: 5px;">{{product?.like}}</label><ion-icon *ngIf="!productLike" name="heart-empty" (click)="likeButton();" style="font-size: 25px;margin-right: 12px;text-align: left;"></ion-icon>
                <label *ngIf="productLike" style="top: -7px;position: relative;margin-right: 5px;">{{product?.like + 1 }}</label><ion-icon *ngIf="productLike" name="ios-heart" (click)="likeButton();" style="font-size: 25px;margin-right: 12px;text-align: left;"></ion-icon>
                <label style="top: -7px;position: relative;margin-right: 5px;">12{{product?.comment}}</label><ion-icon name="chatbubbles" style="font-size: 25px;margin-right: 12px;text-align: left;"></ion-icon></div>
            </ion-col>
            <ion-col style="text-align: right;">
              <div><ion-icon name="pin" style="font-size: 25px;margin-right: 12px;text-align: right"></ion-icon> <label style="top: -7px;position: relative;color:#38c5d5">{{product?.location}}</label>
            
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>                
      </ion-card-content>
    </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-card-title>Yorumlar</ion-card-title>

            </div>
          </ion-col>
          <ion-col style="text-align: right;">
            <div>           
              <ion-chip outline color="danger" style="position: relative;top: -5px;">
                <ion-label (click)="presentAlertPrompt();">Yorum Yap</ion-label>
              </ion-chip>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let comment of comments">
  
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://cdn1.iconfinder.com/data/icons/avatar-3/512/Manager-512.png" />
          </ion-avatar>
          <ion-label>
            <h2>Misafir</h2>
            <h5 style="font-size: 10px;color: gray;">{{comment.create_date}}</h5>
            <p style="margin-top: 8px;">{{comment.comment}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
    <!-- <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->
</ion-content>
