<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title style="font-size:15px">Gönderi Detayı</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen hide-header>
    <ion-card> 
      <ion-card-header>
        <ion-list lines="none" style="padding: 0px;">
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://www.pngkey.com/png/detail/47-474070_child-avatar-icon-flat-design-red-yellow-coffee.png">
            </ion-avatar>
            <ion-label>
              <h3>Atakan Gemici</h3>
              <p>1d</p>
            </ion-label>
          </ion-item>
          </ion-list>
           
      </ion-card-header>
      <ion-img [src]="product?.image.image" style="height: 250px;"></ion-img>  
      <ion-card-header padding style="position: relative;left: 26px;">
        <ion-label>
          <h3>{{product?.name}}</h3>
          <p style="font-size: 16px;font-weight: bold;">{{product?.price}} ₺</p>
          <p style="color:#3171e0"><ion-icon name="pin" style="color:lightgray;padding-right: 5px;"></ion-icon>{{product?.location}} / {{product?.store}}</p>
        </ion-label>
      </ion-card-header>
      <ion-card-content padding style="position: relative;left: 26px;">
        {{product?.description}}
      </ion-card-content>    
      <ion-card-content style="height: 60px;">
        <ion-grid style="text-align: center;text-align: center;" >
          <ion-row>
            <ion-col>
              <div>
                <ion-chip outline color="dark" style="position: relative;top: -9px;font-size: 12px;">
                  <ion-icon name="star-outline"></ion-icon>                  
                  <ion-label>Favoriye Ekle</ion-label>
                </ion-chip>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-chip outline color="dark" style="position: relative;top: -9px;font-size: 12px;">
                  <ion-icon name="chatbubbles"></ion-icon>                  
                  <ion-label (click)="presentAlertPrompt();">Yorum Yap</ion-label>
                </ion-chip>
              </div>
            </ion-col>
          </ion-row>         
          </ion-grid>          
         <!-- <b style="padding-left: 10px;margin-bottom: 15px;">Atakan Gemici</b><label> {{product.description}}</label>   -->    
      </ion-card-content>
    
          <ion-item lines="none" style="border-bottom: 1px solid lightgray;padding-top: 20px;">
            <ion-label style="color:#cd6684;">Yorumlar</ion-label>
            <ion-badge color="light" slot="end" line="none" style="margin-right: 10px;">{{product?.comments_count}}</ion-badge>
          </ion-item>
  
    
      <ion-list *ngFor="let comment of comments" lines="none"> 
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://cdn1.iconfinder.com/data/icons/avatar-3/512/Manager-512.png" />
          </ion-avatar>
          <ion-grid>
            <ion-row>
              <ion-col>          
              <div>
                <ion-label>
                  <h2>Misafir</h2>
                  <h5 style="font-size: 10px;color: gray;">{{comment.create_date}}</h5>
                  <p style="margin-top: 8px;">{{comment.comment}}</p>
                </ion-label>
               </div>                     
            </ion-col>
              <ion-col style="text-align: right;">
                <div> 
                  <ion-icon name="trash" (click) = "deleteComment(comment.id);" style="padding-top:18px;color:gray;font-size: 18px;"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>           
        </ion-item>
      </ion-list> 
      <div style="text-align: center;padding-top: 15px;padding-bottom: 20px;">
        <ion-chip outline color="primary">
          <ion-label>Daha fazla göster</ion-label>
        </ion-chip>
      </div>  
    </ion-card>
    
 
</ion-content>
</ion-app>
