<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Yeni Gönderi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen hide-header>   
    <ion-chip class="ion-margin-start">
      <ion-avatar>
        <img src="./avatar.svg">
      </ion-avatar>
      <ion-label>Ürün Fotoğrafı</ion-label>
    </ion-chip>
    <ion-item>
      <ion-label position="floating">Ürün Adı</ion-label>
      <ion-input></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Açıklama</ion-label>
      <ion-input></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Lokasyon</ion-label>
      <ion-input></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Mağaza</ion-label>
      <ion-input></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Fiyat</ion-label>
      <ion-input></ion-input>
    </ion-item> 
    <ion-button expand="full" color="secondary" style="margin-top:5%">Paylaş</ion-button>
</ion-content>

</ion-app>
