<ion-app>
  <ion-header #header>
    <ion-toolbar>
      <ion-title>
        <ion-grid>
          <ion-row>
            <ion-col>          
            <div style="text-align: left;font-family: cursive;font-size: 20px;">
              <ion-icon [style.color]="'#47c9d8'" ios="ios-shirt" md="md-shirt" style="font-size: 28px;position: relative;top: 5px;"></ion-icon>
              Indirimx
            </div>             
            </ion-col>
            <ion-col style="text-align: right;">
              <div style="position: relative;top: 7px;font-size: 24px">
                <ion-icon name="information-circle-outline" (click)="goToTutorail();"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>       
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-app> 
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Avatar</ion-title >
    </ion-toolbar>
  </ion-header >

  <ion-content fullscreen>
    <ion-list-header style=" display:block;text-align: center;padding-top:20px" >{{name}} {{sure_name}}</ion-list-header>
    <ion-avatar style="margin:auto;position: relative;top: -5px;left:7px" class="ion-margin-start">
      <img src="{{photo}}">
    </ion-avatar>
    
    <ion-segment value="gonderi" style="padding-top:20px" color="medium">
      <ion-segment-button value="gonderi" (click)="segmentChange('gonderi');">
        <ion-label>Gönderilerim (3)</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favori"  (click)="segmentChange('favori');">
        <ion-label>Favorilerim (0)</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="bildirim" (click)="segmentChange('bildirim');">
        <ion-label>Bildirimler</ion-label>
      </ion-segment-button> -->
    </ion-segment>

    <ion-list *ngIf = "segmentValue == 'gonderi'"> 
      <ion-item *ngFor="let product of products[0]" (click)="goToProduct(product);">
        <ion-avatar slot="start">
          <ion-img [src]="product.image.image"></ion-img>        
        </ion-avatar>
        <ion-label>
          <h3>{{product.name}}</h3>
          <p>{{product.price}} ₺</p>
          <p style="color:#3171e0"><ion-icon name="pin" style="color:lightgray;padding-right: 5px;"></ion-icon>{{product?.location}} / {{product?.store}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    
  </ion-content>
<ion-footer no-shadow>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
</ion-app> 