<ion-app>
  <ion-header #header>
    <ion-toolbar>
      <ion-title style="font-family: cursive;font-size: 23px;">Trendy</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-app> 
  <ion-content fullscreen scroll-y="false">

<div class="cards-container">
  
  <div class="card card-one" style="width: 100%;">
    <header>
      <div class="avatar">
        <img src="https://cdn1.iconfinder.com/data/icons/avatar-3/512/Manager-512.png" />
      </div>
    </header>


    <h3>Misafir</h3>

    <div class="desc">
      
    </div>
    <div class="contacts">
      <a href=""><i class="fa fa-plus"></i></a>
      <a href=""><i class="fa fa-whatsapp"></i></a>
      <a href=""><i class="fa fa-envelope"></i></a>
      <div class="clear"></div>
    </div>

   
  </div>

  <div class="clear"></div>
</div>

</ion-content>
<ion-footer no-shadow>
<!-- <div style="background-color: #FEA645;height: 70px;text-align: center;padding-top: 26px;color: white;">

  Beğeniler : 0

</div> -->
</ion-footer>
</ion-app> 