<ion-app>
  <ion-header #header>
    <ion-toolbar>
      <ion-title style="text-align: center;font-family: cursive;font-size: 23px;">Trendy</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen hide-header>
    <ion-card *ngFor="let product of products[0]" (click)="goToProduct(product);"> 
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
            
            <div ><img  style="width: 50px;border-radius: 30px;"src="https://www.pngkey.com/png/detail/47-474070_child-avatar-icon-flat-design-red-yellow-coffee.png"></div>
              
            </ion-col>
            <ion-col style="text-align: right;">
              <div> <ion-card-subtitle>{{product.name}}</ion-card-subtitle>
                <ion-card-title>{{product.price}} TL</ion-card-title></div>
            </ion-col>
          </ion-row>
        </ion-grid>      
      </ion-card-header>
      <ion-img [src]="product.image.image"></ion-img>         
      <ion-card-content >
        <ion-grid>
          <ion-row>
            <ion-col>
              <div> <label style="top: -7px;position: relative;margin-right: 5px;">{{product.like}}</label><ion-icon name="heart-empty" style="font-size: 25px;margin-right: 12px;text-align: left;"></ion-icon>
                <label style="top: -7px;position: relative;margin-right: 5px;">12{{product.comment}}</label><ion-icon name="chatbubbles" style="font-size: 25px;margin-right: 12px;text-align: left;"></ion-icon></div>
            </ion-col>
            <ion-col style="text-align: right;">
              <div><ion-icon name="pin" style="font-size: 25px;margin-right: 12px;text-align: right"></ion-icon> <label style="top: -7px;position: relative;color:#38c5d5">{{product.location}}</label>
            
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>     
       
       
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
